<%- include("../partials/header") %>
<hr>
<div class = "d container" text-align = "center">
	<style>
	 div.d {background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);}
    </style>
<div class="row">
	<div class="col-md-4">
			<h1 class style = "color: white"><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">
			<img src="<%= user.avatar %>" alt="user profile image">
			<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
		</div>
		
		<div>
			<% if(currentUser && (user._id.equals(currentUser._id) || currentUser.isAdmin)) { %>
			        
					<button class="btn btn-md btn-danger">
				        <a id="Edit-Button" href="/editprofile/<%= user._id %>" >Edit</a>
					</button>
			         
			        <hr> 
					<% } %>
		  </div>
	</div>
	<div class="col-md-8">
		<br><br><hr>
		<h3 class = "n" style = "color: white"><b><%= user.username %>'s campgrounds :-</b></h3>
		<hr>
		<% if(campgrounds.length<1) { %>
		<h4>You have not added any campgrounds till now...</h4>	
		<% } %>
		<ul>	
		<% campgrounds.forEach(function(campground) { %>
			<div class = "c1" style = "color: grey">
			   <li class = "c2"><h4><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></h4></li>
			</div>
			<style>
			 div.c1 li.c2 a { color: grey; }
            </style>
		<% }); %>
		</ul>
	</div>
</div>
</div>
	

<%- include("../partials/footer") %>